<% if @crime_reporter.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@crime_reporter.errors.count, "error") %> prohibited this crime reporter from being saved:</h2>
    <ul>
      <% @crime_reporter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>