<div id="page-content">
  <div class= "container" id ="home-container" >
    <div class="jumbotron text-center text-black">
      <h1 class="display-4">
       <strong>Welcome to Crime Patrol Application</strong>
      </h1>
      <p class="lead">
      <p><%= link_to 'Report a Crime', citizens_new_path, class: 'btn btn-success btn-lg' %></p>
     <% if logged_in? %>
      <p><%= link_to 'View Portal' , about_path, class: 'btn btn-success btn-lg' %></p>
     <% end%>
    </div>
  </div>
</div>

